@font-face{
  src :url(./fonts/CrimsonText-Bold.ttf);
  font-family : crim;
}
@font-face{
  src :url(./fonts/KaushanScript-Regular.ttf);
  font-family : kau;
}
@font-face{
  src :url(./fonts/PatuaOne-Regular.ttf);
  font-family : patua;
}

*{
  padding: 0; margin: 0; box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
overflow-x: hidden;
}
ul,li{
  font-style: none;
}
.headerBtn1:hover{
  cursor:pointer;
  background-color:red;
  color:white;
}
.headerBtn2:hover{
  cursor:pointer;
  background-color:#00D7E5;
  color:white;
}
.repo-link{
  font-weight:600;
  text-align:center;
  font-size:21px;
  border-radius:0.4rem;
  background-color:aliceBlue;
  border:2px solid #72dced;
  position: absolute;
  bottom:0;
  width:90%;
  max-width:250px;
  margin-left:4%;
  margin-bottom:0.1rem;
  box-shadow: 0 8px 16px 0 rgba(250,250,250,0.2), 0 6px 20px 0 rgba(250,250,250,0.19);

}
.repo-link-tag{
  background-color:#47d1df;
  border-radius: 20px solid gray;
}
.repo-link-tag:hover{
  background-color:#05242b;
  color:white;
  border-radius:0.4rem;
}
/* .cover-image{
background-image: url('nuru.jpg');
height: 100%; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
} */
.scroll-container {
width: 100%;
height: 8px;
background: white;
}



.wrap-shimmer{
  overflow:auto;
}

.container{
  width: 99%; margin:0.01% 0.5%; overflow: hidden;
}
.head-wrapper{
  width: 100%; min-height: 50px; padding: 3px;
  background-color: #f1f4f7;
  box-shadow: 0px 3px 10px 1px #b6b8ba;;
  position: fixed; margin-left:-0.5%;
  z-index: 1000; 
  transition:0.5s;
}
.head-wrapper > div{
  display: inline-block;
}
.logo{
  width: 30%; display:inline-block;
}
.logo > div{
  display:inline-block
}
.logo .img img{
  border-radius:50%; height:30px;
}
.logo .img{
width: 35px;
}
.logo .img-desc{
  position: absolute;
}
.logo .sp-1{
  font-size:22px; color: #04204E;
  font-family:patua
}
legend{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 24px;
font-weight: 500;
}
fieldset{
border: 1px solid rgba(147, 149, 151, 0.12);
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
margin:2% 5%;
}

.project-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.w-100{
  width:100%
} 
.d-flex{
  display:flex;
}
.d-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  grid-gap:0.3rem
}
.d-grid td{
  overflow:auto
}
.mt-4{
  margin-top:2rem;
}
.mt-8{
  margin-top:2rem;
}
.footer-hr{
  background-color:white
}
.social-item{
  margin-left: 0.5rem;
}
.social-item a{
  text-decoration: none;
}
.social-item > a .fa{
  padding: 0.2em;
  color: #DA484C;
}


.copyright{
  color: white; text-align: center;
}
.bg-photo > .bg-image{
  z-index: -1000;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  background-size: cover;
  height:100%;
  background-attachment: fixed;
}
.bg-photo{
  position:relative;
  margin-top: 57px;
  overflow-y: hidden;
  overflow-x: hidden;
  width:100%;
}
.bg-photo > .bg-image img{
  width: 100%;
  margin:auto;
}



.social-desc{
font-size: 16px; padding-left:3px;
font-family:'Times New Roman', Times, serif; 
font-weight:400;color:white;
}

.logo .sp-2{
  font-size:26px; color: #062B61;
}
.menus{
  width: 60%; text-align: right; position: absolute; padding-top: 10px;
}
.menus li{
  display: inline-block; min-width:70px;
  margin-right: 4px; font-size: 18px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-height: 25px; text-align: center; font-weight: 600;
}
.menus li a{
  color: #00D1E0;
  /* color: white; */
  text-decoration: none; padding:10px
}
.menus li:hover{
  background-color: #0d1720;
  background-color: #0094B6;
}
.toggler span{
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  text-align: center;
  margin-top: 3px;
}
.my-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 1rem;
  padding:10px;
}
.my-skills > div{
  box-shadow: 0px 3px 10px 1px #8e8989a9;
  padding: 30px;
  border-radius: 10px;
}
.my-skills > div > h2{
  color:#00A8C5;
  font-weight: 400;
  font-family: patua, 'Lato';
}
.my-skills > div > ul {
  padding: 15px 25px 0px;
}
.my-skills > div > ul > li {
  margin: 10px 0px;
  color: rgba(2, 2, 2, 0.836);
}
.wrap-form-projects{
  margin-left:-5%;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
}

.content{
font-weight:400;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 22px;
line-height: 32px;
word-wrap: wrap;
word-spacing: 2.2px;
padding:20px;
}
.content ul li{
display:block;
font-weight:400;
font-size:20px;
margin-left:40px;
margin-top:10px;
list-style-type: square;
}
.content ul strong{
display:block;
font-weight:650;
font-size:26px;
margin-left:15px
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  text-align:center;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 3px 10px 1px #b6b8ba;
}

/* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
letter-spacing:3px;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav .closebtn:hover {
  color: #f1f1f1;
  background-color:rgb(71, 182, 176);
  cursor:pointer;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
  width:100px;
  color:white;
  background-color:rgb(243, 74, 74);
}

.site-footer{
  background-color: #00A8C5;
  line-height: 35px;
  padding: 15px 20px;
}
.p-input-wrap{
box-sizing: border-box;
width: 100%;
/* border:1px solid #ccc; */
/* background-color: #293a4a; */
padding:5px;
/* box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); */
}
.p-input-wrap >*{
display: block;
}
.p-input-wrap label{
font-size: 20px;
font-weight:400;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:#00A8C5;
width: 100%;
min-height: 40px;
}
.p-input-wrap input{
font-size: 20px;
border-radius:4px;
width:100%;
border:1px solid #ccc;
min-height: 40px;
background: rgb(243, 245, 247);
transition:2s;
padding:3px;
border: 1px solid #a18cec;
}
.p-input-wrap input:focus{
outline-color: rgba(196, 190, 190, 0.466);
background-color: white;
padding:6px;
transition:0.5s;
}
.p-input-wrap textarea{
font-size: 18px;
font-family:times;
border-radius:4px;
width:100%;
border:1px solid #ccc;
padding:4px;
transition:2s;
}
.p-input-wrap textarea:focus{
outline-color: rgba(196, 190, 190, 0.466);
background-color: white;
padding:7px;
transition:0.5s;
}
.p-btn-wrap{
width:100%; text-align: right;
}
.p-btn{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:550;
font-size: 20px;
text-align:center;
/* background-color: #293a4a; */
width:120px;
border-radius: 4px;
min-height:40px;
padding:2px 5px;
/* color: white; */
border:1px solid #00C7DA;
transition:0.3s;
}
.p-btn:hover{
cursor: pointer;
color: white;
background-color: #036BB5;
text-shadow: 2px #00C7DA;
}

.fa-1-5x{
  font-size: 1.5em;
}

.switchBtn:hover{
  cursor:pointer
}


.on-photo{
  text-align:center; 
  top:0;
  height:100%;
  position:absolute;
  width:100%;
}
.on-photo p{
  font-family:times;
  font-weight:500;
  color:white;
  font-size: 1.8em;
  word-wrap: wrap;
  letter-spacing: 3px;
  word-spacing: 10px;
  line-height: 45px;
  padding:25px;
}
.shimmer {
  /* font-family: "Lato"; */
  font-family: patua , "Lato";
  font-weight: 300;
  font-size: 3em;
  margin: 0 auto;
  padding-top:20px;
  word-wrap:break-word;
}

.dev{
  font-size: 2em;
}

.shimmer {
  text-align: center;
  /* color: #293a4a; */
  color: white;
  
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0, #fff));
/* background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)); */
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}


.slideshow{
  padding:10px 300px;
  /* position: relative; */
  overflow:hidden
}
.slide {
  position: absolute;
  word-wrap:break-word;
  /* top: 0; */
  /* left: 500px; */
}
.first {
  left: 0;
  opacity: 1;
  z-index: 0;
}

.first { animation: cycleone 20s ease-in-out infinite; }
.second { animation: cycletwo 20s ease-in-out infinite; }
.third { animation: cyclethree 20s ease-in-out infinite; }
.fourth { animation: cyclefour 20s ease-in-out infinite; }
@keyframes cycleone {
    0% { left:    0px; opacity: 1; z-index:  0; } 
    /* 5% = 1 second */
   20% { left:    0px; opacity: 1; z-index:  0; } 
    /* from 0% to 20% = visible 4 seconds */
   25% { left: -500px; opacity: 0; z-index:  0; } 
    /* from 20% to 25% = 1 second exit */
   26% { left: -500px; opacity: 0; z-index: -1; } 
    /* return from whence you came */
   27% { left:  500px; opacity: 0; z-index: -1; } 
    /* until your are complete again */
   95% { left:  500px; opacity: 0; z-index:  0; } 
    /* From 95% to 100% = 1 second enter */
  100% { left:    0px; opacity: 1; z-index:  0; }
}
@keyframes cycletwo {
    0% { left:  500px; opacity: 0; } 
     /* 5% = 1 second */
   20% { left:  500px; opacity: 0; } 
    /* starts moving after 20% ie 4 seconds  */
   25% { left:    0px; opacity: 1; } 
    /* from 20% to 25% = for 1 second enter */
   45% { left:    0px; opacity: 1; z-index:  0; } 
    /* from 25% to 45% = visible for 4 seconds */
   50% { left: -500px; opacity: 0; z-index:  0; } 
    /* from 45% to 50% for 1 second exit */
   51% { left:  500px; opacity: 0; z-index: -1; } 
    /* From 95% to 100% = 1 second enter */
  100% { left:  500px; opacity: 0; z-index: -1; } 
   /* stays put for remainder */
}
@keyframes cyclethree {
    0% { left:  500px; opacity: 0; } 
     /* 5% = 1 second */
   45% { left:  500px; opacity: 0; z-index: -1; } 
    /* starts moving after 45% = 9 seconds  */
   50% { left:    0px; opacity: 1; z-index:  0; } 
    /* from 45% to 50% = for 1 second enter */
   70% { left:    0px; opacity: 1; z-index:  0; } 
    /* from 50% to 70% = visible 4 seconds */
   75% { left: -500px; opacity: 0; z-index:  0; } 
    /* from 70% to 75% = 1 second exit */
   76% { left:  500px; opacity: 0; z-index: -1; } 
    /* return to origin posish */
  100% { left:  500px; opacity: 0; z-index: -1; } 
   /* stays put for remainder */
}
@keyframes cyclefour {
    0% { left:  500px; opacity: 0; z-index: -1; } 
     /* 5% = 1 second */
   70% { left:  500px; opacity: 0; z-index:  0; } 
    /* starts moving after 70% = 14 seconds  */
   75% { left:    0px; opacity: 1; z-index:  0; } 
    /* from 70% to 75% = 1 second enter */
   95% { left:    0px; opacity: 1; z-index:  0; } 
    /* from 75% to 95% = visible 4 seconds */
  100% { left: -500px; opacity: 0; z-index:  0; } 
   /* from 95% to 100% = 1 second exit */
}








.toggler{
float:right;
cursor:pointer;
display:none !important;
}




/* Page Loader */
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 50px;}
  .sidenav a {font-size: 18px;}
  .bg-image img{
    height:100vh
  }
  
}  
@media screen and (max-height: 760px) {
  .bg-image img{
    height:70vh
  }
  
}  
@media screen and (max-width: 760px) {
  .desktop-menus{display:none !important;}
  .toggler{display:block !important;}
  .contact{
    margin:0.2rem !important;
  }
  
}  
@media screen and (min-width: 760px) {
  .sidenav{width:0px !important}
}  
@media screen and (max-width: 920px) {
  
}  

.contact{
  
  margin:3rem;
}
